body {
    margin: unset;
    overflow: hidden;
    background-image: url('./image/bliss.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 5px 10px black;
}

h3 {
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 5px 10px black;
}

.container {
    display: grid;
    grid-template-areas:
        "left-menu header right-menu"
        "left-menu content right-menu"
        "left-menu footer right-menu";
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 10% 80%;
    width: 100%;
    height: 100%;
}

.container div.header {
    grid-area: header;
    text-align: center;
}

.container div.left-menu {
    grid-area: left-menu;
}

.container div.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div.right-menu {
    grid-area: right-menu;
}

.container div.footer {
    grid-area: footer;
    text-align: center;
}

.container div.content img#chick {
    /* width: 50vw; */
    max-width: 256px;
    object-fit: cover;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}