body {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: unset;
    overflow: hidden;
    background-image: url('./image/bliss.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

@keyframes pop {
    from {
        transform: scale(0.95)
    }

    50% {
        transform: scale(1)
    }

    to {
        transform: scale(0.95)
    }
}

.container {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: 10% 80% 10%;
    width: 100%;
    height: 100%;
}

.container div.header {
    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div.header div.title {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 5px 7.5px black;
}

.container div.header div.title h1 {
    margin: unset;
    margin-top: 10px;
    color: #ffbe50;
}

.container div.header div.title p {
    margin: unset;
    color: #ffffff;
    animation: pop 1s infinite;
}

.container div.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div.content h1 {
    margin: unset;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 0px 5px 7.5px black;
}

.container div.content h3 {
    margin: unset;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 0px 5px 7.5px black;
}

.container div.content #chick {
    max-width: 256px;
    object-fit: cover;
    margin: 15px;
}

.container div.content div#shop {
    white-space: nowrap;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    padding: 5px;
    background-color: #ffffff3d;
    width: 50%;
    height: 10%;
    max-width: 50vw;

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.container div.content div#shop div.button {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.container div.content div#shop div.button:hover {
    background-color: rgba(70, 70, 70, 0.5);
}

.container div.content div#shop div.button img {
    width: 100%;
    height: 100%;
}

.container div.content div#shop div.button p#name,
p#price {
    font-family: sans-serif;
    color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-shadow: 0px 5px 7.5px black;
    max-width: 100%;
}

.container div.content div#shop div.button p#name {
    top: 0%;
    left: 50%;
}

.container div.content div#shop div.button p#price {
    top: 65%;
    left: 50%;
}

.container div.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.container div.footer p,
a {
    font-family: sans-serif;
    color: rgba(255, 255, 255, .25);
    text-shadow: 0px 5px 7.5px black;
}